<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ABOUT US</title>
</head>

<style>
    body{
        font-family: Arial, Helvetica, sans-serif;
        background-color: #6fb3b8;
        margin: 0;
    }
    .box1{
        background-color: aqua;
        color: rgb(78, 34, 34);
        width: 450px;
        height: auto;
        margin: 200px;
        padding: 15px;
        margin-left: 500px;
        margin-bottom: 400px;

    }
    h1{
        text-align: center;
    }
    

</style>
<body>
    <h1>ABOUT US</h1>
    <div class="box1">
        <p>In response to the increasing need for a streamlined news analysis tool, we have developed a web application using the Flask web framework. The primary goal is to empower users to analyze news articles from The Indian Express, focusing on key features such as content extraction, sentiment analysis, and user-friendly interaction.</p><br>
        <p>CONTACT US</p><br>

        <p> Name: Mallesh Kamati</p><br>
        <p>email id : malleshkamati0803@gmail.com</p>


    </div>
</body>
</html>